.icon_tray {
  display: flex;
  flex-direction: row;
}
.icon_tray > a {
  display: block;
  padding: 10px;
}
.icon_tray > a > .svgs {
  width: 21px;
  height: 20px;
}
.svgs path {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #7f8ea3;
}
.svgs:hover path {
  fill: #fff;
}
@media screen and (max-width: 50%) {
  .icon_tray > a > .svgs {
    width: 16px;
    height: 15px;
  }
}
